.home-main{
    margin-top:50px;
    background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 450px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
}

.home-main-text{
    font-weight:700;
}

.home-main-label{
    font-size:12px;
    font-weight:700;
}

.home-date{
    width:49.5%;
    display:inline-block;
}

.btn-custom{
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
    color:white;
    background-color:#28a745;
    border-color:#28a745;
}

.btn-custom:hover{
    color:white;
    background-color: #269d41;
    border-color:#269d41;
}

.search-btn{
    text-align: right;
}

.modal-mx{
    margin: 0 15%;
}

.btn-modal{
    width:100%;
}

.home-warning{
    color:red;
    display:none;
}

.nav-profile-img{
    width:50px;
    height:50px;
    border-radius:50px;
}

.nav-item{
    cursor: pointer;
}

.session-nav{
    background-color:#fe6237;
}

.navbar-brand{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
}

.nav-link{
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

.search-nav{
    margin-top:50px;
    background: #fe6237 !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 270px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12) !important;
    color:white;
    margin-left: -60px;
    float:left;
}

.custom-body{
    background-color: #fafafa;
}

.btn-custom-search{
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
    color:white;
    background-color:#28a745;
    border-color:#28a745;
}

.btn-custom-search:hover{
    color:white;
    background-color:#269d41;
    border-color:#269d41;
}

.stay-list{
    float: left;
    margin-left: 20px;
    padding: 30px;
}

.search-main-text{
    font-weight:700;
}

.stay-item{
    border-radius: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #a5a5a5;
    padding: 15px;
    width: 750px;
    background-color: white;
}

.stay-item:hover{
	cursor: pointer;
}

.search-img{
    height:200px;
}

.search-content{
    float:right;
    font-weight:700;
}

.btn-custom2{
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
    color:white;
    background-color:#fe6237;
    border-color:#fe6237;
}

.btn-custom2:hover{
    color:white;
    background-color: #C5552E;
    border-color:#C5552E;
}

.hosting-toggle{
    float:right;
}

.host-list{
    float: left;
    margin-left: 20px;
    padding: 30px;
}

.btn-default{
    padding: 8px 15px;
    font-size: 17px;
    font-weight: 600;
    border-width:1.5px;
    color:black;
    background-color:white;
    border-color:black;
}

.btn-default:hover{
    background-color: #D6D6D6;
}

.reservation-table{
    width: 750px;
}

thead{
    color:white;
    background-color:#fe6237;
    font-weight:600;
}

.make-reservation{
    font-weight: 700;
}

.custom-content{
    width: 750px;
}

.font-custom{
    font-weight: 700;
}

.profile-img{
    height:300px;
    cursor: pointer;
}

#pf-img-input{
    display:none;
}

.stay-img{
    height: 300px;
}

.reply-img{
    height: 50px;
}

#hosting-content{
	width: 750px;
}
