<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="changuk.project.stay.mapper.StayMapper">

	<resultMap type="stay" id="stayResult">
		<result column="staycode" property="code"/>
		<result column="memberemail" property="email"/>
		<result column="stayname" property="name"/>
		<result column="staypeople" property="people"/>
		<result column="stayaddress" property="address"/>
		<result column="stayphone" property="phone"/>
		<result column="staydomain" property="domain"/>
		<result column="stayrooms" property="rooms"/>
		<result column="stayintro" property="intro"/>
		<result column="stayimage" property="image"/>
		<result column="stayprice" property="price"/>
	</resultMap>

	<select id="find" resultMap="stayResult">
		SELECT * FROM stay
	</select>

	<select id="findReserve" parameterType="map" resultMap="stayResult">
	<![CDATA[
	select ex.staycode, ex.memberemail, ex.stayname, ex.staypeople, ex.stayaddress, ex.stayphone, ex.staydomain, ex.stayrooms, ex.stayintro, ex.stayimage, ex.stayprice 
	from 
	(select * , 0 as cnt from stay 
	where staycode not in
	(select stayCode from reservation 
	where (reservationcheckout > #{checkIn} and reservationcheckout < #{checkOut})
	or (reservationcheckin >= #{checkIn} and reservationcheckin < #{checkOut})
	or (reservationcheckin >= #{checkIn} and reservationcheckout <= #{checkOut})
	or (reservationcheckin < #{checkIn} and reservationcheckout > #{checkOut})
	group by staycode)
	union
	select stay.staycode, memberemail, stayname, staypeople, stayaddress, stayphone, staydomain, stayrooms, stayintro, stayimage, stayprice, cnt from stay, 
	(select staycode as code, count(*) as cnt from reservation 
	where (reservationcheckout > #{checkIn} and reservationcheckout < #{checkOut})
	or (reservationcheckin >= #{checkIn} and reservationcheckin < #{checkOut})
	or (reservationcheckin >= #{checkIn} and reservationcheckout <= #{checkOut})
	or (reservationcheckin < #{checkIn} and reservationcheckout > #{checkOut})
	group by staycode) temp
	where (stay.stayCode = temp.code and stay.stayrooms > temp.cnt)
	group by stay.staycode) ex 
	where ex.staypeople >= #{people} and ex.stayrooms > ex.cnt and ex.stayaddress like #{address}
	]]>
	</select>

</mapper>